/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/Buoi_6/nbproject/private/
/Buoi_6/build/
/Buoi_5/nbproject/private/
/Buoi_5/build/
/Buoi1/nbproject/private/
/Mang_mot_chieu/nbproject/private/
/Mang_mot_chieu/build/
/Mang_mot_chieu/dist/
/Mang_2_chieu/nbproject/private/
/Mang_2_chieu/build/
/HuongDoiTuong/nbproject/private/
/HuongDoiTuong/build/
/Matrix/nbproject/private/
/Matrix/build/
/HuongDoiTuong_Mang/nbproject/private/
/HuongDoiTuong_Mang/build/
/Bai_tap__class/nbproject/private/
/Bai_tap__class/build/
/Buoi10/nbproject/private/
/Buoi10/build/
/bai12/nbproject/private/
/bai12/build/
/17_3_2019/nbproject/private/
/17_3_2019/build/
/Buoi_8/nbproject/private/
/Buoi_8/build/
/Buoi8_24/nbproject/private/
/Buoi8_24/build/
/Buoi9/nbproject/private/
/Buoi9/build/
/java1/nbproject/private/
/java1/build/
/Buoi9BT/nbproject/private/
/Buoi9BT/build/
/Buoi10hoc/nbproject/private/
/Buoi10BT1/nbproject/private/
/Buoi10BT1/build/
/Buoi11hoc/nbproject/private/
/Buoi11hoc/build/
/Buoi11BT/nbproject/private/
/Buoi11BT/build/
/Buoi12hoc/nbproject/private/
/Buoi12hoc/build/
/Bai12BT/nbproject/private/
/Bai12BT/build/