/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/Buoi_6/nbproject/private/
/Buoi_6/build/
/Buoi_5/nbproject/private/
/Buoi_5/build/
/Buoi1/nbproject/private/
/Mang_mot_chieu/nbproject/private/
/Mang_mot_chieu/build/
/Mang_mot_chieu/dist/
/Mang_2_chieu/nbproject/private/
/Mang_2_chieu/build/
/HuongDoiTuong/nbproject/private/
/HuongDoiTuong/build/
/Matrix/nbproject/private/
/Matrix/build/
/HuongDoiTuong_Mang/nbproject/private/
/HuongDoiTuong_Mang/build/
/Bai_tap__class/nbproject/private/
/Bai_tap__class/build/